html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: ##EFF5FB;
}

#header {
	width: 100%;
	position: fixed;
	height: 7%;
	min-height: 60px;
	max-height: 100px;
	background-color: #3F61BE;
	z-index: 1;
	padding-left: 10px;
}

#headerseparator {
	min-height: 7%;
	min-height: 60px;
	max-height: 80px;
}

.corpo {
	width: 100%;
	position: fixed;
	top: 7%;
	height: 87%;
}

#footer {
	width: 100%;
	position: fixed;
	top: 94%;
	height: 6%;
	background-color: #3F61BE;
	padding: 3px;
	text-align: right;
	font-family: sans-serif;
	font-style: italic;
	color: #ECECEC;
}

#header .textusers {
	width: 98%;
	padding-top: 40px;
	text-align: right;
	font-family: sans-serif;
	font-style: italic;
	color: #ECECEC;
}

#header .menuButton {
	height: 100%;
	max-width: 150px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

#header .menuButton img {
	height: 100%;
	width: auto;
	min-height: 50px;
	max-height: 80px;
}

#header .menuButton a:hover {
	cursor: pointer;
}

#header .menuButton:hover {
	background-color: #F5F6CE;
	opacity: 1;
}

#inputSearchPl {
	top: 80px;
	width: 100%;
	text-align: right;
	position: fixed;
	right: 60px;
	z-index: 1;
}

#inputSearchPl input {
	line-height: 1.5;
}

#inputSearchPer {
	top: 12%;
	left: 20px;
	width: 240px;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 1;
	border: 1px solid gray;
	text-align: center;
}

#inputSearchPer input {
	line-height: 1.5;
	width: 80%;
}

#inputSearchPer p {
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
}

#sociallogin {
	top: 10%;
	left: 20px;
	position: fixed;
	z-index: 1;
}

#sociallogin p {
	margin-top: 5px;
}

.wrap {
	width: 80%;
	padding: 40px 20px 0px 20px;
}

.wrap div {
	margin-top: 3px;
}

.left_col {
	float: left;
	width: 35%;
}

.right_col {
	float: right;
	width: 50%;
}

.left_col textarea {
	width: 100%;
	resize: none;
}

.left_col input {
	width: 100%;
}

.right_col input {
	width: 100%;
}

.label {
	font-weight: bold;
	margin-top: 5px;
}

.searchresult {
	margin-top: 10px;
	border-bottom-style: dotted;
	border-bottom-color: #3F61BE;
}

#map-canvas {
	width: auto;
	position: fixed;
	top: 7%;
	height: 90%;
}

#map-canvas img {
	max-width: none
}

.gmnoprint img {
	max-width: none;
}

#footer .wrap {
    width: 100%;
    padding: 0px;
}

#footer .left_col {
    float: left;
    width: 45%;
    margin-top: 5px;
    text-align: left;
}

#footer .right_col {
    float: right;
    width: 45%;
    margin-top: 15px;
}